
.banner {
	width:100%;
}

.principal{
	padding: 30px;
}

.titulo-principal {
	text-align: center;
	font-size: 2em; /* em medida proporcional para pixels exemplo: 15 px sendo valor base torna e temos 2em = 30px*/
	margin: 0 0  1em;
	clear:left; /* Utilizado para limpar o float da classe utensilio */
}

.principal p{
	margin: 0 0 1em;
}

.principal strong{
	font-weight: bold;
}

.principal em {
	font-style: italic;
}

.utensilios{
	width: 120px;
	float: left;
	margin: 0 20px 20px 0;
}

#missao {
	font-size: 20px
}

.itens {
	font-style: italic
}

.beneficios {
	background: #FFFFFF;
	padding: 20px;
}

ul #itens-beneficios {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagembeneficios {
	width: 60%;
}